{% extends "layout.html" %}

{% block content %}

<!-- /////////////////////////////////////////Content -->
<div id="page-content">

	<div class="box-content">
		<div class="container">
			<!-----------------Content-------------------->
			<article class="single-post">
				<div class="wrap-post">
					<!--Start Box-->
					<div class="entry-header text-center">
						<h1 class="entry-title">SOBRE URJC - TOURIMS</h1>
						<div class="portfolio-box zoom-effect">
							<img src="static/images/estudiantes.jpg" class="img-responsive" alt=""
								style="display: block; margin-left: auto; margin-right: auto;">
						</div>
					</div>
					<div class="post-thumbnail-wrap">
						<p>El blog de URJC- Tuorism nació en abril de 2019, al reunirnos un grupo de alumnos que
							teniamos que realizar un trabajo/practica sobre turismo en Madrid, durante la practica
							pudimos darnos cuenta de la pasión sobre turismo y de viajar y conocer mundo por lo que
							decidimos poder crear esta pagina web para poder umplusar nuestra carrera en turismo.</p>

						<p>Para poder dar a conocer nuestros trabajo dacidimos abrir esta pagina web, en la que podemos
							orientar a turistas que desean visitar España, en especial la comunidad de Madrid, donde les
							asesoramos sobre lugares que puedes visitrar, los mejores resturantes de la comunidad y
							mucho más</p>
					</div>
					<div class="entry-content">

					</div>
				</div>
			</article>
		</div>

	</div>
</div>
{% endblock %}