{% extends "layout.html" %}

{% block content %}

<!-- /////////////////////////////////////////Content -->
<div id="page-content">

	<div class="box-content">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<!-----------------Content-------------------->
					<article>
						<div class="wrap-post">
							<!--Start Box-->
							<div class="entry-header">
								<h2 class="entry-title"><a href="/articulo1">SITIOS QUE VER Y VISITAR EN TU VIAJE DE
										TURISMO A MADRID</a></h2>
								<span class="entry-meta">
									<ul class="list-inline link">
										<li>By <a href="#"> URJC-TouristCenter</a></li>
										<li><a href="#">August, 22 2019</a></li>
										<li><a href="#">0 comments</a></li>
									</ul>
								</span>
							</div>
							<div class="post-thumbnail-wrap">
								<div class="portfolio-box zoom-effect">
									<img src="static/images/imagen0.jpg" class="img-responsive" alt="">
								</div>
							</div>
							<div class="entry-content">
								<p>La ciudad de Madrid en los últimos años se está convirtiendo en un destino turístico
									muy atractivo para los turistas tanto españoles como internacionales.
									Más allá de los monumentos que se pueden visitar en Madrid, el encanto que se vive
									en sus principales plazas y calles, con lugares emblemáticos como la plaza Mayor o
									la renacida Gran Vía, es uno de sus principales atractivos.
									Pero sobre todo quienes visitan Madrid aprecian el espíritu muy acogedor de la
									ciudad, siempre con un gran ambiente tanto cultural, como de ocio y gastronómico.…
								</p>
								<a class="btn btn-skin" href="/articulo1">Leer Más</a>
							</div>
						</div>
					</article>
					<article>
						<div class="wrap-post">
							<!--Start Box-->
							<div class="entry-header">
								<h2 class="entry-title"><a href="/articulo2">RECORRER MADRID POR TRES DÍAS</a></h2>
								<span class="entry-meta">
									<ul class="list-inline link">
										<li>By <a href="#">Miguel Torrijos</a></li>
										<li><a href="#">Abril, 22 2019</a></li>
										<li><a href="#">0 comments</a></li>
									</ul>
								</span>
							</div>
							<div class="post-thumbnail-wrap">
								<div class="portfolio-box zoom-effect">
									<img src="static/images/imagen.jpg" class="img-responsive" alt="">
								</div>
							</div>
							<div class="entry-content">
								<p>Esta guía de Madrid en 3 días está diseñada para recorrer los lugares más turísticos
									y los barrios con más encanto de una de las ciudades más imprescindibles de Europa.
									Durante los dos primeros días habrás visitado muchos de sus lugares más famosos de
									la ciudad como el Museo del Prado, el Retiro, la Gran Vía, la Plaza Mayor, la Puerta
									del Sol, el Palacio Real, el Templo de Debod, la Puerta de Alcalá, algunos de los
									mejores miradores de la ciudad, el centro histórico y los barrios de las Letras,
									Chueca y Malasaña.
									En este tercer día además de seguir con la ruta gastronómica de los días anteriores,
									visitarás el Museo Reina Sofia, el barrio de La Latina y el popular mercado del
									Rastro, entre otras muchas cosas.
									Basándonos en nuestras numerosas visitas a la ciudad, hemos hecho esta guía para
									recorrer Madrid en tres días y no perderte nada importante. ¡Empezamos!</p>
								<a class="btn btn-skin" href="/articulo2">Leer Más</a>
							</div>
						</div>
					</article>
					<article>
						<div class="wrap-post">
							<!--Start Box-->
							<div class="entry-header">
								<h2 class="entry-title"><a href="/articulo3">RESTAURANTES VEGETARIANOS QUE
										PUEDES VISITAR EN
										MADRID</a></h2>
								<span class="entry-meta">
									<ul class="list-inline link">
										<li>By <a href="#">Ernesto Baltasar</a></li>
										<li><a href="#">Abril, 22 2019</a></li>
										<li><a href="#">0 comments</a></li>
									</ul>
								</span>
							</div>
							<div class="post-thumbnail-wrap">
								<div class="portfolio-box zoom-effect">
									<img src="static/images/restaurantes1.jpg" class="img-responsive" alt="">
								</div>
							</div>
							<div class="entry-content">
								<p>Si tecleamos en Instagram el término <b>#avocado</b> aparecen así, como de la nada,
									más de nueve millones de fotografías donde el aguacate es el único y gran
									protagonista.
									Porque si hay algo o alguien que tiene la culpa del boom de este alimento (fruto del
									aguacatero) son precisamente las redes sociales, que han contribuido de manera
									notable en la fiebre por el avocado.
									Tanto es así que ha saltado del panorama virtual a tu mesa, todo para el deleite de
									sus adictos incondicionales entre los que confesamos que nos encontramos.</p>
								<a class="btn btn-skin" href="/articulo3">Leer Más</a>
							</div>
						</div>
					</article>
				</div>
			</div>
		</div>
	</div>

</div>

{% endblock %}