{% extends "layout.html" %}

{% block content %}

<!-- /////////////////////////////////////////Content -->
<div id="page-content">

	<!-----------------Content-------------------->
	<section class="box-content">
		<div class="container">
			<div class="row">
				<!--Start Map-->
				<div id="map" style="height: 450px;"></div>
				<!--End Map-->
				<div class="col-md-4 box-item">
					<h3>Para Mas Información</h3>
					<span>PARA MAS IMFORMACIÓN NO DUDE EN PONERSE EN CONCTATO CON NUESTRO EQUIPO DE TRABAJO, LE
						ATENDEREMOS LO ANTES POSIBLE MUCHAS GRACIAS</span><br> <br>
					<p>Móstoles<br>
						Universidad Rey Juan Carlos<br>
						Calle Tulipán s/n. 28933 Móstoles, Madrid</p>
					<p>+6221 888 888 90 <br>
						+6221 888 88891</p>
					<p>urjctouristcenter@urjc.es</p>
				</div>
				<div class="col-md-8">
					<h3>Formulario Contacto</h3>
					<form id="contact_form" class="wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s">
						<div class="row">
							<!-- Name -->
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" name="name" id="name" class="form-control"
										placeholder="Introduzca tu nombre" required>
								</div>
							</div>
							<!-- Email -->
							<div class="col-md-6">
								<div class="form-group">
									<input type="email" name="email" id="email" class="form-control"
										placeholder="Introduzca tu email" required>
								</div>
							</div>
						</div>
						<!-- Subject -->
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<input type="text" class="form-control" name="subject" id="subject"
										placeholder="El motivo" required />
								</div>
							</div>
						</div>
						<!-- Message -->
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<textarea style="height: 200px" class="form-control" name="message" id="message"
										rows="5" placeholder="Tu mensaje" required></textarea>
								</div>
								<button type="submit" id="form-submit" class="btn btn-skin btn-block"
									id="submit_btn">Enviar</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</div>

<!-- Google Map -->
<script>
	var marker;
	var image = 'images/map-marker.png';
	function initMap() {
		var myLatLng = { lat: 39.79, lng: -86.14 };

		// Specify features and elements to define styles.
		var styleArray = [
			{
				featureType: "all",
				stylers: [
					{ saturation: -80 }
				]
			}, {
				featureType: "road.arterial",
				elementType: "geometry",
				stylers: [
					{ hue: "#000000" },
					{ saturation: 50 }
				]
			}, {
				featureType: "poi.business",
				elementType: "labels",
				stylers: [
					{ visibility: "off" }
				]
			}
		];

		var map = new google.maps.Map(document.getElementById('map'), {
			center: myLatLng,
			scrollwheel: false,
			// Apply the map style array to the map.
			styles: styleArray,
			zoom: 7
		});

		var directionsDisplay = new google.maps.DirectionsRenderer({
			map: map
		});

		// Create a marker and set its position.
		marker = new google.maps.Marker({
			map: map,
			icon: image,
			draggable: true,
			animation: google.maps.Animation.DROP,
			position: myLatLng
		});
		marker.addListener('click', toggleBounce);
	}

	function toggleBounce() {
		if (marker.getAnimation() !== null) {
			marker.setAnimation(null);
		} else {
			marker.setAnimation(google.maps.Animation.BOUNCE);
		}
	}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7V-mAjEzzmP6PCQda8To0ZW_o3UOCVCE&callback=initMap" async
	defer></script>
{% endblock %}