{% extends "layout.html" %}

{% block content %}
<!-- /Section: intro -->
<!--////////////////////////////////////Container-->
<section id="page-content" class="index-page">
	<!-- ////////////Content Box 00 -->
	<section class="box-content box-1">
		<div class="iframe-container">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/cv6_IiGkVsY" frameborder="0"
				allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen></iframe>
		</div>
	</section>

	<!-- ////////////Content Box 01 -->
	<section class="box-content box-1">
		<div class="container">
			<div class="heading wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s">
				<h2>Nuestro Servicios</h2>
				<hr class="line">
			</div>
			<div class="filter-container isotopeFilters">
				<ul class="list-inline filter">
					<li class="active"><button class="btn btn-isoFilter" data-filter="*">All </button></li>
					<li><button class="btn btn-isoFilter" data-filter=".illustrations">Museos</button>
					</li>
					<li><button class="btn btn-isoFilter" data-filter=".photography">Parques </button></li>
					<li><button class="btn btn-isoFilter" data-filter=".websites">Madrid Tour</button></li>
					<li><button class="btn btn-isoFilter" data-filter=".art">Gastronomía </button></li>
				</ul>
			</div>
			<div class="isotopeContainer">
				<div class="col-lg-4 col-sm-4 col-md-6 isotopeSelector art">
					<div class="portfolio-box zoom-effect">
						<img src="static/images/comida.jpg" class="img-responsive" alt="">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-name">
									COMIDAS MADRILEÑAS
								</div>
								<div class="project-category">
									Category
								</div>
								<div class="project-social">
									<ul class="list-inline">
										<li><a href="https://lacomidatipica.com/platos-tipicos-madrid/"><i
													class="fa fa-link"></i></a></li>
										<li><a href="static/images/comida.jpg" data-lightbox="example-set"
												data-title="Click the right half of the image to move forward."><i
													class="fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-4 col-md-6 isotopeSelector art">
					<div class="portfolio-box zoom-effect">
						<img src="static/images/restaurantes.jpg" class="img-responsive" alt="">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-name">
									RESTAURANTES DE LA CAPITAL
								</div>
								<div class="project-category">
									Category
								</div>
								<div class="project-social">
									<ul class="list-inline">
										<li><a
												href="https://eatandlovemadrid.es/bueno-bonito-barato-restaurantes-madrid/"><i
													class="fa fa-link"></i></a></li>
										<li><a href="static/images/restaurantes.jpg" data-lightbox="example-set"
												data-title="Click the right half of the image to move forward."><i
													class="fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-4 col-md-6 isotopeSelector illustrations">
					<div class="portfolio-box zoom-effect">
						<img src="static/images/arte.jpg" class="img-responsive" alt="">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-name">
									HISTORIA DEL ARTE MADRILEÑO
								</div>
								<div class="project-category">
									Category
								</div>
								<div class="project-social">
									<ul class="list-inline">
										<li><a href="https://artedemadrid.wordpress.com/"><i class="fa fa-link"></i></a>
										</li>
										<li><a href="static/images/arte.jpg" data-lightbox="example-set"
												data-title="Click the right half of the image to move forward."><i
													class="fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-4 col-md-6 isotopeSelector photography">
					<div class="portfolio-box zoom-effect">
						<img src="static/images/parque.jpg" class="img-responsive" alt="">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-name">
									PARQUES DE LA COMUNIDAD DE MADRID
								</div>
								<div class="project-category">
									Category
								</div>
								<div class="project-social">
									<ul class="list-inline">
										<li><a
												href="http://www.comunidad.madrid/cultura/actividades-aire-libre-deporte/parques-jardines"><i
													class="fa fa-link"></i></a></li>
										<li><a href="static/images/parque.jpg" data-lightbox="example-set"
												data-title="Click the right half of the image to move forward."><i
													class="fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-4 col-md-6 isotopeSelector websites">
					<div class="portfolio-box zoom-effect">
						<img src="static/images/tour.jpg" class="img-responsive" alt="">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-name">
									CITY TOUR MADRID
								</div>
								<div class="project-category">
									Category
								</div>
								<div class="project-social">
									<ul class="list-inline">
										<li><a href="https://madrid.city-tour.com/es"><i class="fa fa-link"></i></a>
										</li>
										<li><a href="static/images/tour.jpg" data-lightbox="example-set"
												data-title="Click the right half of the image to move forward."><i
													class="fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-4 col-md-6 isotopeSelector websites">
					<div class="portfolio-box zoom-effect">
						<img src="static/images/rutas.jpg" class="img-responsive" alt="">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-name">
									RUTAS TURISTICAS RECOMENDADAS
								</div>
								<div class="project-category">
									Category
								</div>
								<div class="project-social">
									<ul class="list-inline">
										<li><a href="https://www.viajaporlibre.com/blog/ruta-turistica-por-madrid/"><i
													class="fa fa-link"></i></a></li>
										<li><a href="static/images/rutas.jpg" data-lightbox="example-set"
												data-title="Click the right half of the image to move forward."><i
													class="fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-4 col-md-6 isotopeSelector illustrations">
					<div class="portfolio-box zoom-effect">
						<img src="static/images/museo.jpg" class="img-responsive" alt="">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-name">
									MUSEOS DE LA COMUNIDAD
								</div>
								<div class="project-category">
									Category
								</div>
								<div class="project-social">
									<ul class="list-inline">
										<li><a href="https://www.civitatis.com/es/madrid/visita-guiada-museo-prado/"><i
													class="fa fa-link"></i></a></li>
										<li><a href="images/museo.jpg" data-lightbox="example-set"
												data-title="Click the right half of the image to move forward."><i
													class="fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="text-center"><button class="btn btn-skin" id="isotopeShowMore">Ver Más</button></div>
		</div>
	</section>

	<!-- ////////////Content Box 02 -->
	<section class="box-content box-2 box-style-1">
		<div class="container">
			<div class="heading wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s">
				<h2>Nuestra Historía</h2>
				<hr class="line">

			</div>
			<div class="content">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2">
						<p>URJC - Tourism, tiene su origen en alumnos de la URJC del grado de turismo que
							con el objetivo de poner en practica
							los conocimientos que van aprendiendo durante su carrera y vida universitaria.
						</p>
						<p>En la actualidad estamos centrados en la comunidad de Madrid, aunque esté año dimos
							el salto muy grande en llegar a otras comunidades autonamás de España como la de Cataluña.</p>
						<p>Nuestro objetivo, es poder poner nuestro conocimiento en practica y levantar pasión
							en los ciudadanos del mundo a que se atrevan visitar la nación de España y puedan
							disfrutar de su cultura.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- ////////////Content Box 03 -->
	<section class="box-content box-3 box-style-2">
		<div class="container">
			<div class="content">
				<div class="row">
					<div class="col-md-6 col-sm-6 wow fadeInLeft" data-wow-delay=".1.15s" data-wow-duration="1.3s">
						<img src="static/images/imagen.jpg" alt="">
					</div>
					<div class="col-md-4 col-sm-6 wow fadeInRight" data-wow-delay=".1s" data-wow-duration="1s">
						<a href="/blog" class="btn btn-skin">Nuestro Blog</a>
						<img src="static/images/imagen0.jpg" alt="" class="hidden-xs" style="margin: 0 0 0 -100px;">
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- ////////////Content Box 06 -->
	<section class="box-content box-6">
		<div class="container">
			<div class="heading wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s">
				<h2>TU OPINIÓN CUENTA</h2>
				<hr class="line">
			</div>
			<div class="content">
				<div class="col-sm-10 col-sm-offset-1">
					<form id="contact_form" class="wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s">
						<div class="row">
							<!-- Name -->
							<div class="col-md-4">
								<div class="form-group">
									<input type="text" name="name" id="name" class="form-control"
										placeholder="Introduzca tu nombre" required>
								</div>
							</div>
							<!-- Email -->
							<div class="col-md-4">
								<div class="form-group">
									<input type="email" name="email" id="email" class="form-control"
										placeholder="Introduzca tu email" required>
								</div>
							</div>
							<!-- Subject -->
							<div class="col-md-4">
								<div class="form-group">
									<input type="text" class="form-control" name="subject" id="subject"
										placeholder="Motivo" required />
								</div>
							</div>
						</div>
						<!-- Message -->
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<textarea style="height: 200px" class="form-control" name="message" id="message"
										rows="5" placeholder="Tu mensaje" required></textarea>
								</div>
								<button type="submit" id="form-submit" class="btn btn-skin btn-block"
									id="submit_btn">Enviar</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

</section>


{% endblock %}